
polars==1.33.1
numpy==2.3.3
pandas==2.3.2
matplotlib==3.10.6
geopandas==1.1.1
shapely==2.1.1
pyproj==3.7.2
rasterio==1.4.3
scipy==1.16.2
scikit-learn==1.7.2
tqdm==4.67.1
colorama==0.4.6
pytz==2025.2
pysolar==0.13
PyYAML==6.0.2
pyarrow==21.0.0
psutil>=5.9.0
